<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="non0" />
  <arg name="pose_x" default="0" />
  <arg name="pose_y" default="0" />
  <arg name="pose_z" default="0" />
 
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
   <arg name="debug" value="0" />
   <arg name="gui" value="$(arg gui)" />
   <arg name="use_sim_time" value="$(arg use_sim_time)" />
   <arg name="headless" value="$(arg headless)" />
   <!-- <arg name="world_name" value="$(arg world_name)" /> -->
   <arg name="paused" value="false"/>
  </include>
  
  <group ns="$(arg robot_name)">
    <param name="tf_prefix" value="$(arg robot_name)" />
    
    <!-- Load robot description -->
    <include file="$(find non_description)/launch/non_description.launch" />
    
    <!-- Spawn the robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model $(arg robot_name) -param robot_description -x $(arg pose_x) -y $(arg pose_y) -z $(arg pose_z)" />
  </group>
</launch>
