<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="holo0" />
  <arg name="pose_x" default="5.0" />
  <arg name="pose_y" default="-7.5" />
  <arg name="pose_z" default="0.0" />
  
  <arg name="obpose_x" default="2.0" />
  <arg name="obpose_y" default="-7.5" />
  <arg name="obpose_z" default="0.0" />

  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <!-- <arg name="world_name" default="$(find nexus_gazebo)/worlds/nexus_4wd_mecanum.world" /> -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find floor9)/world/floor9.world" />
    <arg name="debug" value="false" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
    <!-- <arg name="world_name" value="$(arg world_name)" /> -->
    <arg name="paused" value="false"/>
  </include>

<!-- Load robot description -->
<include file="$(find non_description)/launch/non_description.launch" />

  <!-- Spawn the robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model $(arg robot_name) -param robot_description -x $(arg pose_x) -y $(arg pose_y) -z $(arg pose_z)" />
        
<include file="$(find object_description)/launch/object_description.launch" />

  <node name="object_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model object -param object_description -x $(arg obpose_x) -y $(arg obpose_y) -z $(arg obpose_z)" />

</launch>
