<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="holo0" />
  <arg name="pose_x" default="0" />
  <arg name="pose_y" default="0" />
  <arg name="pose_z" default="0" />
  <arg name="pose_Yaw" default="0.0" />
  
  <group ns="$(arg robot_name)">
    <param name="tf_prefix" value="$(arg robot_name)" />
    <!-- Load robot description -->
    <include file="$(find non_description)/launch/non_description.launch" />
    
    <!-- Spawn the robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model $(arg robot_name) -param robot_description -x $(arg pose_x) -y $(arg pose_y) -z $(arg pose_z) -Y $(arg pose_Yaw)" />
  </group>
</launch>
